
<style>
    @font-face {
        font-family: 'Circular Std';
        src: url('assets/font/CircularStd-Medium.eot');
        src: url('assets/font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('assets/font/CircularStd-Medium.woff2') format('woff2'), url('assets/font/CircularStd-Medium.woff') format('woff'), url('assets/font/CircularStd-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap
    }

    @font-face {
        font-family: 'Circular Std';
        src: url('assets/font/CircularStd-Book.eot');
        src: url('assets/font/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('assets/font/CircularStd-Book.woff2') format('woff2'), url('assets/font/CircularStd-Book.woff') format('woff'), url('assets/font/CircularStd-Book.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap
    }

    @font-face {
        font-family: 'Circular Std';
        src: url('assets/font/CircularStd-BookItalic.eot');
        src: url('assets/font/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/CircularStd-BookItalic.woff2') format('woff2'), url('assets/font/CircularStd-BookItalic.woff') format('woff'), url('assets/font/CircularStd-BookItalic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
        font-display: swap
    }

    @font-face {
        font-family: 'Circular Std';
        src: url('assets/font/CircularStd-BoldItalic.eot');
        src: url('assets/font/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('assets/font/CircularStd-BoldItalic.woff2') format('woff2'), url('assets/font/CircularStd-BoldItalic.woff') format('woff'), url('assets/font/CircularStd-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
        font-display: swap
    }

    @font-face {
        font-family: 'Circular Std';
        src: url('assets/font/CircularStd-Bold.eot');
        src: url('assets/font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('assets/font/CircularStd-Bold.woff2') format('woff2'), url('assets/font/CircularStd-Bold.woff') format('woff'), url('assets/font/CircularStd-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap
    }


    :root{
      --font-display: 'Circular Std', 'sans-serif' !important;
      --font-body: 'Circular Std', 'sans-serif' !important;
    }
</style>
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.6.0/inter.min.css" rel="stylesheet">-->

